.campaigns-list-grid{
  display: grid;
  grid-column-gap: 300px;
  grid-template-columns: repeat(auto-fit, 300px);
  margin-top: 5vh;
  margin-left: 15px;
}

.stack-create-button-label{
  display: flex;
  flex-direction: row;
  align-items: center;
}